:root {
  
    
    
    --neon-color-01-cyan: #;

    --neon-color-02-green: #d 
    

    --neon-color-03-amber: #;
    

    --neon-color-04-orange: #;
    

    --neon-color-05-red: #;
    

    --neon-color-06-magenta: #;
    

    --neon-color-07-blue-violet: #;

    --neon-color-08-white: #;
}